<html>
    <head>
        <title>Node Ranking</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Ranking Results
                </h1>
                <p class="subtitle">
                    Here are the ranking results for <strong>{{graphFilePath}}</strong>:
                </p>

                <table class = "table is-bordered">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Title</th>
                            <th>Id</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#rankEntries}}
                        <tr>
                            <td>{{position}}</td>
                            <td>{{title}}</td>
                            <td>{{id}}</td>
                            <td>{{rank}}</td>
                        </tr>
                        {{/rankEntries}}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
